[submodule "astro"]
	path = astro
	url = https://github.com/Juliancito733/astro.git
[submodule "django"]
	path = django
	url = https://github.com/Juliancito733/django.git
[submodule "Next"]
	path = Next
	url = https://github.com/Juliancito733/Next.git
[submodule "angular"]
	path = angular
	url = https://github.com/Juliancito733/angular.git
[submodule "express"]
	path = express
	url = https://github.com/Juliancito733/express.git
[submodule "springboot"]
	path = springboot
	url = https://github.com/Juliancito733/springboot.git
